@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --radius: 10px;
}
html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.prose img {
  border-radius: var(--radius);
}
